body {
	display: block;
	border:1px solid #aaaaaa;
	max-width: 800px;
	line-height: 1.25;
	font-family: MeiryoKe_Gothic, "Ricty Diminished", "Courier New", Courier, Monaco, Menlo, Consolas, "Lucida Console", "Osaka−等幅", "Osaka-等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic", monospace;
}
.DGPN body {
	display: block;
	border:0px solid #aaaaaa;
	max-width: 800px;
	line-height: 1.25;
	font-family: MeiryoKe_Gothic, "Ricty Diminished", "Courier New", Courier, Monaco, Menlo, Consolas, "Lucida Console", "Osaka−等幅", "Osaka-等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic", monospace;
}

td {
	padding: .2em .2em;
	border: 1px solid #aaa;
	white-space:nowrap;
	vertical-align: middle;
}
th {
	background-color: #22598E;
	color:#fff;
	padding: .2em .2em;
	border: 1px solid #aaa;
	position: sticky;
	top: -1px;  z-index: 2;
	vertical-align: middle;
}
table tbody tr:hover{
	background-color: #fffae9;
}
.table-ginga table {
	text-align: right;
	font-size: 20px;
	font-weight:bold;
}
.table-wrapper { 
	max-width:95vw;
	max-height:40vh;
	overflow: scroll;
	-ms-overflow-style: none;    /* IE, Edge 対応 */
	scrollbar-width: none;       /* Firefox 対応 */
}
.table-wrapper::-webkit-scrollbar {
    display:none;/* Chrome, Safari 対応 */
}
.table-wrapper table th {    text-align: right;}
.table-wrapper table td {    text-align: right;}
.table-math {max-width:95vw; overflow-x: hidden; overflow-y: hidden;}
.table-math table td {    text-align: left;}
table td.left { text-align: left;}
table tr.red { color: red;}



summary {
  position: relative;
  display: block; /* 矢印を消す */
  padding: 10px 10px 10px 30px; /* アイコンの余白を開ける */
  cursor: pointer; /* カーソルをポインターに */
  font-weight: bold;
  background-color: #f5f8fa;
  transition: 0.2s;
}
summary:hover {
  background-color: #e8f5fe;
}
summary::-webkit-details-marker {
  display: none;　/* 矢印を消す */
}

/* 疑似要素でアイコンを表示 */
summary:before,
summary:after {
  content: "";
  margin: auto 0 auto 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
summary:before {
  width: 16px;
  height: 16px;
  border-radius: 6px;
  background-color: #22598E;
}
summary:after {
  left: 6px;
  width: 5px;
  height: 5px;
  border: 4px solid transparent;
  border-left: 5px solid #fff;
  box-sizing: border-box;
  transition: .1s;
}

/* オープン時のスタイル */
details[open] summary {
  background-color: #e8f5fe;
}
details[open] summary:after {
  transform: rotate(90deg); /* アイコンを回転 */
  left: 4px; /* 位置を調整 */
  top: 5px; /* 位置を調整 */
}

/* アニメーション */
details[open] .details-content {
	animation: fadeIn 0.5s ease;
	border: 1px solid #aaa;
	padding: 15px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}


@media screen and (max-width: 600px) {
	.table-ginga table {
		text-align: right;
		font-size: 5vw;
		font-weight:bold;
	}
	.table-wrapper { 
		max-width:95vw;
		max-height:60vh;
		overflow: scroll;
		-ms-overflow-style: none;    /* IE, Edge 対応 */
		scrollbar-width: none;       /* Firefox 対応 */
	}
	.table-wrapper::-webkit-scrollbar {
	    display:none;/* Chrome, Safari 対応 */
	}
	.table-wrapper table th {    text-align: right;font-size: 3.6vw;}
	.table-wrapper table td {    text-align: right;font-size: 3.4vw;font-weight:bold;}	
}



